<!DOCTYPE html>
<html>
    <head>
        <title>Main Blog Page</title>
        <style type="text/css">
            .error {
                color: red;
            }

            h1 {
                text-align:center;
            }

            .textarea {
                height: 200px;
                width: 200px;
            }

        </style>
    </head>
    <body>
        <div>
            <a href="/logout">log out</a>
            <a href="/login">log in</a>
        </div>

        {% with messages = get_flashed_messages() %}
            <ul>
            {% for message in messages %}
                <li>{{message}}</li>
            {% endfor %}
            </ul>
        {% endwith %}

        <h2>
            <a href="/">Home Page</a>
            <a href="/blog">All Blogs</a>
            <a href="/newpost">Add a Blog Entry</a>
        </h2>

        {% block content %}
        {% endblock %}

    </body>
</html>
